html {
  background-color: #f1f3f6;
}
html,
body,
#sanity {
  height: 100%;
}

.eVOzYq {
  height: 100% !important;
  outline: none !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  overscroll-behavior: auto !important;
  width: 100% !important;
}

.eVOzYq::-webkit-scrollbar-thumb {
  background-clip: content-box;
  background-color: #0429bc;
  border: 4px solid transparent;
}

.eVOzYq::-webkit-scrollbar {
  width: 15px;
}
.eVOzYq::-webkit-scrollbar-thumb:active {
  background-color: #ff0000;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
